<html style="background-color: white;">
   <head>
      <title>Global Cargo</title>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
      <link rel = "stylesheet" href = "/static/css/materialize.min.css">
      <link rel = "stylesheet" href = "/static/css/material-icons.css">
      <script type = "text/javascript"
         src = "/static/js/jquery-2.2.4.min.js"></script>           
      <script src = "/static/js/materialize.min.js"></script>             
   </head>
  
   <body style="background-color: white;">
     <nav>
      <div class="nav-wrapper blue lighten-2">
        <div href="#" class="brand-logo left"><img src="/static/img/logo.png" style="border-radius:50%;margin-top:5px" height="60px"></div>
        <form class="right" action="/search">
        <div class="input-field">
          <input name="code" id="search" type="search" placeholder="{{code}}" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
    </nav>

    <section class="container">
      <ul class = "collapsible" data-collapsible = "accordion">
         <li>
            <div class = "collapsible-header">
               <i class = "material-icons">send</i>{{code}}</div>
            <div class = "collapsible-body">
            {% for s in summary %}
            <p>{{s}}</p>
            {% endfor %}
          </div>
         </li>
      </ul>
    </section>

    {{mid|safe}}

    </body>
    <script>
$(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>
</html>